body {
  background: black;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  text-align: center;
}

canvas {
  position: relative;
  top: 2em;
  margin: 0 auto;
  // border: 1px solid #111;
}

.footer {
  // color: #ffffff;
  position: relative;
  padding: 1em;
  margin: 0 auto;
  margin-top: 3em;
}
